.img-div 
{
    background-image: url(/assets/img/caminito-buenos-aires.png); 
    background-repeat: no-repeat; 
    width: 960px; 
    height: 1080px;
}
.row {
    display: flex;
    justify-content: space-between;
  }