@media (min-width: 880px) { // NOT FOR Small Screen
    .main-logo{
        padding-left: calc(70px - 16px);
    }

    .sidenav{
        .mat-list-item{
            .mat-list-item-content {
                padding-left: 70px !important;
            }
        }
    }

    .toolbar-options-container{
        margin-right: 1.18rem;
    }
}


.sidenav{
    min-width: 355px;
    background: var(--darkBlue);

    .mat-list-item{
        color: var(--white);

        .mat-list-item-content {
            column-gap: 16px !important;
        }
    }
}


.menu-toolbar{
    height: 88px;
    column-gap: 16px;
}

.menu-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
.menu-is-mobile .menu-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}
  
h1.menu-app-name {
    margin-left: 8px;
}
  
.menu-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
    mat-sidenav-content{
        min-height: calc(100vh - 64px);
    }
}
  
.menu-is-mobile .menu-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
}