<div class="fixed-navigation-nav">
    <div class="start">
        <button class="nav-button nav-button-active" mat-button> Time tracker</button>
        <button class="nav-button" mat-button> Check Hours</button>
    </div>
    <div class="end">
        <button color="accent" mat-flat-button (click)="openDialog()"> Track Hours</button>
    </div>
</div>
<div class="main-content">
    <div class="fixed-navigation-content">
        <mat-card>
            Card 1
        </mat-card>

        <h2>Todays Hours</h2>
        <mat-card>
            Card2
        </mat-card>
    </div>
</div>