@use 'sass:map';
@use '~@angular/material' as mat;

@import url('../../../../assets/theme.scss');

.menu-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
.menu-is-mobile .menu-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}
  
h1.menu-app-name {
    margin-left: 8px;
}
  
.menu-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
    mat-sidenav-content{
        min-height: calc(100vh - 64px);
    }
}
  
.menu-is-mobile .menu-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
}

@mixin color($theme) {
    // Get the color config from the theme.
    $color-config: mat.get-color-config($theme);
  
    // Get the primary color palette from the color-config.
    $primary-palette: map.get($color-config, 'primary');

    .sidenav {
      // Read the 500 hue from the primary color palette.
      background: mat.get-color-from-palette($primary-palette, 900);
    }
}