<div class="fixed-navigation-nav">
    <div class="start">
        <button class="nav-button" [ngClass]="{'nav-button-active': activeTab == 0}" mat-button
            (click)="changeActiveTab(0)"> Time tracker</button>
        <button class="nav-button" [ngClass]="{'nav-button-active': activeTab == 1}" mat-button
            (click)="changeActiveTab(1)"> Check Hours</button>
    </div>
    <!-- <div class="end">
        <button class="btn-track-hours" color="accent" mat-flat-button (click)="openDialog()"> Track Hours</button>
    </div> -->
</div>

<div class="main-content">
    <div class="fixed-navigation-content">
        <!--TAB CHECK HOURS-->
        <div *ngIf="activeTab == 0">
            <mat-card>
                <time-tracker-component></time-tracker-component>
            </mat-card>

            <mat-card class="flex-card">
                
                <div>
                    <h6>Today</h6>
                    <h4>06h30m</h4>

                    <div class="row label-block">
                        <label class="text-default">Regular Worked Hours</label>
                        <label class="text-highlight">160h00m</label>
                    </div>

                    <div class="row label-block">
                        <label class="text-default">Month hours left:</label>
                        <label class="text-highlight">00h00m</label>
                    </div>

                    <div class="row label-block">
                        <label class="text-default text-red">Extra hours:</label>
                        <label class="text-highlight text-red text-bold">1h00m</label>
                    </div>
                </div>

                <div class="chart-content">
                    <div class="fixed-graph-text-container">
                        <label class="text-small text-orange">Hours Left:</label>
                        <h6 class="text-orange">02h30m</h6>
                    </div>
                    <canvas baseChart [options]="doughnutChartOptions" [colors]="doughnutChartColors" [legend]="false"
                        [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
                    </canvas>
                </div>

                <div class="project-info">
                    <div class="flex-row title-content">
                        <h6 class="flex-left">Project X</h6>
                        <h6 class="flex-rigth">05h30</h6>
                    </div>
                    <div class="padding-left-row">
                        <div class="flex-row item">
                            <div class="dot" style="background: #0272B1;"></div>
                            <label class="flex-left text-default">Development</label>
                            <label class="flex-rigth text-default">2h30</label>
                        </div>
                        <div class="flex-row item">
                            <div class="dot" style="background: #0496FF;"></div>
                            <label class="flex-left text-default">Design</label>
                            <label class="flex-rigth text-default">2h30</label>
                        </div>

                        <div class="flex-row item">
                            <div class="dot" style="background: #A3D3FF;"></div>
                            <label class="flex-left text-default">QA</label>
                            <label class="flex-rigth text-default">2h30</label>
                        </div>
                    </div>
                </div>
            </mat-card>

            <h2 class="card-title">Today's Hours</h2>
            <mat-card>
                
            </mat-card>
        </div>

        <!-- CHECK HOURS TAB -->
        <div *ngIf="activeTab == 1">
            <h2 class="card-title">Check Hours</h2>
            <mat-card>

            </mat-card>
        </div>


    </div>
</div>