.fixed-navigation-nav{
    position: fixed;
    z-index: 2;
    padding: 1rem;
    background: var(--bgGrey);
    display: flex;
    align-items: stretch;
    justify-content: start;
    min-width: calc(100vw - 405px);

    .nav-button{
        font-size: 20px;
        font-weight: 500;
        text-transform: uppercase;
        color: #000;
    }

    .nav-button-active{
        color: var(--darkBlue)
    }
}

.main-content{
    padding: 1rem;
    background: var(--bgGrey);
    
    .fixed-navigation-content{
        margin-top: 70px;
        width: calc(100% - 2rem);
        z-index: 0;
        min-height: 100vh;
    }
}